
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap%27');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', normal;
}

/* background color navbar */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    
  }


/* Style des liens de la navbar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;

}
.reseaux{
    float: right;
    justify-content: flex-end;
    position: absolute;

    left: 1100px;
    top: 15px;
}

.logo{
    position: absolute;
    width: 110px;
    height: 30px;
    left: 80px;
    

    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

/* couleur au passage de la souris*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

 
  h1{
    position: absolute;
    width: 777px;
    height: 77px;
    left: 80px;
    top: 150px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;
    
    color: #000000;
    
    
  }

  .sous-titre1 h2{
    position: absolute;
    width: 86px;
    height: 19px;
    left: 146px;
    top: 318px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
  }

  .sous-titre1 h4{
    position: absolute;
    width: 97px;
    height: 17px;
    left: 146px;
    top: 345px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);


  }

  #avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 80px;
    top: 325px;

  }
  .sous-titre1 #ligne{
    position: absolute;
    width: 0px;
    height: 50px;
    left: 301px;
    top: 315px;

    border: 1px solid rgba(0, 0, 0, 0.1);
  }



  #minuteur{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 336px;
    top: 331px;
  }

  .sous-titre2 h2{
    position: absolute;
    width: 73px;
    height: 15px;
    left: 373px;
    top: 320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #000000;
      }

  .sous-titre2 h4{
    position: absolute;
    width: 71px;
    height: 17px;
    left: 373px;
    top: 343px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);


  }    

  .sous-titre2 #ligne{

    position: absolute;
    width: 0px;
    height: 50px;
    left: 478px;
    top: 315px;

    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  #minuteur2{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 513px;
    top: 331px;

  }

  .sous-titre3 h2{
    position: absolute;
    width: 78px;
    height: 15px;
    left: 550px;
    top: 320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #000000;
  }

  .sous-titre3 h4{
    position: absolute;
    width: 71px;
    height: 17px;
    left: 550px;
    top: 343px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);


  }

  .sous-titre3 #ligne{
    position: absolute;
    width: 0px;
    height: 50px;
    left: 660px;
    top: 315px;

    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  #fourchette{
    position: absolute;
    width: 8.25px;
    height: 19.5px;
    left: 695.75px;
    top: 330.25px;

    
  }

  #couteau{
    position: absolute;
    width: 6.75px;
    height: 19.5px;
    left: 705.13px;
    top: 330.25px;

  }

  .sous-titre4 h4{
    position: absolute;
    width: 53px;
    height: 17px;
    left: 726px;
    top: 331px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);

  }

  #plat{
    position: absolute;
    width: 915.21px;
    height: 600px;
    left: 45px;
    top: 429px;
    border-radius: 55px;
 



  }

  .header{
    display: flex;
    text-align: center;
  }


  .nutrition{
    position: absolute;
    width: 400px;
    height: 600px;
    left: 950px;
    top: 429px;

    background: #E7FAFE;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    
    
  }

  .nutrition h2{
    position: absolute;
    width: 223px;
    height: 29px;
    left: 92px;
    top: 11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */
    letter-spacing: -0.04em;
   
  }

  .nutrition p{
   display: flex;
  }

#textnutrition{
  position: absolute;
  width: 1270px;
  height: 80px;
  left: 80px;
  top: 1109px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.ingredient{
  position: absolute;
}

.ingredient h2{
  position: absolute;
width: 184px;
height: 44px;
left: 80px;
top: 1273px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;

/* identical to box height */
letter-spacing: -0.04em;


}

.ingredient h3 {
  position: absolute;
  width: 144px;
  height: 29px;
  left: 80px;
  top: 1365px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  
  /* identical to box height */
  letter-spacing: -0.04em;
}

.liste{
  position: absolute;
width: 213px;
height: 18px;
left: 78px;
top: 1427px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* identical to box height */
letter-spacing: -0.02em;


}